.about {
  padding: 9.2rem 3rem;
  position: relative;
  height: 100vh;
}

.about__hide {
  // margin: auto;
  // position: relative;
  transform: perspective(30rem) rotateX(4deg);
  overflow: hidden;
  height: 80vh;
  margin: 0 3rem;
}

.about__desc {
  @extend %description-30;

  animation: autoscroll 2000s linear;
  // padding-top: 3500px;
  color: $color-ripe-lemon;
  line-height: 1.35;
  text-align: center;
}
