.skeleton {
  border-radius: 0.2rem;
  padding: 2.2rem 0;
}

.skeleton__shiner {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba($color: $color-ripe-lemon, $alpha: 0.2);
  height: 100%;
  width: 40%;
  transform: skew(-20deg);
  animation: loading 1.5s linear infinite;
}

.skeleton__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.skeleton__text {
  background-color: rgba($color: $color-ripe-lemon, $alpha: 0.05);
  height: 2.2rem;
  width: 11.4rem;
  position: relative;
  overflow: hidden;
}

.skeleton__title {
  background-color: rgba($color: $color-ripe-lemon, $alpha: 0.05);
  height: 6.3rem;
  width: 78.3rem;
  margin: 7.4rem 0;
  position: relative;
  overflow: hidden;
}

.skeleton__labels {
  background-color: rgba($color: $color-ripe-lemon, $alpha: 0.05);
  height: 2.2rem;
  width: 38.4rem;
  position: relative;
  overflow: hidden;
}

.planets__skeleton {
  border-radius: 0.2rem;
  padding: 3rem 0;
}

.planets__skeleton__header {
  background-color: rgba($color: $color-ripe-lemon, $alpha: 0.05);
  height: 2.2rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  width: 8.5vw;
}

.planets__skeleton__label {
  background-color: rgba($color: $color-ripe-lemon, $alpha: 0.05);
  position: relative;
  height: 2.2rem;
  width: 10vw;
  overflow: hidden;
}
